.block-input {
  width: 100%;
  outline: none;
}
.block-editable-text {
  max-width: 90%;
}
.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize-first-letter {
  text-transform: lowercase; /* change to lowercase */
}

.capitalize-first-letter:first-letter {
  text-transform: uppercase;
}

.multiline-text {
  white-space: unset !important;
}

.outline-active {
  outline: 2px solid black !important;
}
.outline-idle {
  outline: 1px solid rgb(211, 211, 211) !important;
}
