$block-control-space: 17px;

.block-input {
  width: 100%;
  outline: none;
}

.block-editable-text {
  max-width: 100%;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize-first-letter {
  text-transform: lowercase; /* change to lowercase */
}

.capitalize-first-letter:first-letter {
  text-transform: uppercase;
}

.multiline-text {
  white-space: unset !important;
}

.outline-active {
  outline: 2px solid black !important;
}

.outline-idle {
  outline: 1px solid rgb(211, 211, 211) !important;
}

.block-item-right,
.block-item-left {
  position: absolute !important;
  transform: translate(-50%, -50%);
  top: 50%;
}

.block-item-left {
  left: $block-control-space;
}

.block-item-right {
  right: $block-control-space;
}

.nav-item-spacing {
  gap: 0.5rem;
}

.nav-items {
  overflow: auto;
}
